// Colors
// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

$color-highlight: #5c9eac;
$color-grey: #aaa;

$default-font-color: $color-highlight;
$default-font-hover-color: $color-highlight;
$default-link-color: $color-highlight;
$default-link-hover-color: $color-highlight;
$default-background-color: #fff;
