// sub and super
// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

sub {
    vertical-align: sub;
    line-height: 0;
    font-size: 70%;
}

sup {
    vertical-align: super;
    line-height: 0;
    font-size: 70%;
}